body{
    background: black;
}

.bg-black{
    background: black;
}

.card-project:hover{
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}
.carta{
    text-decoration: none;
}
a:link, a:visited, a:active {
    text-decoration:none;
}