{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4 text-center">
        <img src="{% static 'portfolio/fotos.jpg' %}" alt="">
    </div>
    <div class="col-md-8 my-auto">
        <h1>
            Martin Tamola.
        </h1>
        <h3>
            Soy un desarrollador Frontend | Backend.
        </h3>
        <p>
            Las tecnologías de Frontend que utilizo son: -HTML - CSS - JavaScript -ReactJs.
            <br>
            Las tecnologías de Backend que utilizo son: -Python - Django - SQLite3.
        </p>
        <a href="{% static 'portfolio/CV-MartinTamola-IT.pdf' %}" class="btn btn-primary btn.lg rounded-0 my-3"
            target="blank">Descargar CV</a>
    </div>
</header>

<div class="row my-3 text-center">

    <h3 class="mt-3">Mis Proyectos</h3>

    {% for project in projects %}

    <div class="col-md-4 p-4 mt-2">
            <div class="card bg-black card-project text-center">
                <img class="card" src="{{project.image.url}}" alt="{{project.tittle}}">
                <div class="card-body">
                    <h2 class="text-light">
                        {{project.tittle}}
                    </h2>
                    <p class="text-light">
                        {{project.description}}
                    </p>
    
    
                    {% if project.url %}
                    <a class="btn btn-light rounded-0 btn-sm" target="_blank" href="{{project.url}}">{{project.url}}</a>
                    {% endif %}
                </div>
            </div>
    </div>

    {% endfor %}
</div>


{% endblock %}